@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card mt-3">
            <h5 class="card-header">基本信息</h5>
            <div class="card-body">
                <p class="card-text">姓名: aaaa</p>
                <p class="card-text">年龄: aaaa</p>
                <p class="card-text">毕业院校: aaaa</p>
                <p class="card-text">专业: aaaaa</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">

    </div>
</div>

